<html>
    <body background="">
<h1 align="center">Thankyou for giving your views !</h1>
<br><br>
<p align="center" > Your results have been recorded, please check your results as per the table given below: -</p>
<br><br><br><br><br><br>
<p align="center" > Your score {{this.applicationService.scoreValue}} </p><br><br>
<div style="display: flex;justify-content: center;">
    <table border="1">
        <tr>
            <th>S.No.</th>
            <th>Range</th>
            <th>Effects</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Between 10 - 20</td>
            <td>There is no problem in your behaviour.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Between 20 - 30</td>
            <td>There are some problem but they can be fixed.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Between 30 - 40</td>
            <td>You should improve your living standereds and give yourself some time.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Between 40 - 50</td>
            <td>You should give some time to yourself and find about your good points and try to get close to your loved ones.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Between 50 - 60</td>
            <td>You should consult to a counselor and get a proper treatment with time.</td>
        </tr>

    </table>
</div>
</body>
</html>